.main__wrap 
    display flex
    justify-content center
    align-items center
    font-family: "Source-Sans", Arial, Helvetica, sans-serif
    
.main 
    display flex 
    align-items center
    justify-content center
    flex-wrap wrap
    width 70%
    background lighten(#DDD, 20%)
    padding 20px

.main__header 
    flex 1 100%
    font-size 1.5rem
    text-align center
    margin 10px
    font-family: "Caviar-Dreams", Arial, Helvetica, sans-serif

.main__block 
    flex 50%
    display flex
    justify-content: center
    font-size 1rem
    
    
.btn__main 
    display flex 
    flex 100%
    flex-wrap wrap
    padding 20px
    > button 
        flex 1 50%
        order 2
    > a  
        flex 1 100%
        font-size 0.75rem
        margin 20px
        text-align center
        margin-left 10px
    