*, *::before, *::after 
    clear fix
    padding 0
    margin 0
    box-sizing inherit 

html, body 
    box-sizing border-box
    font-size: 16px;
    font-size: responsive;


@media screen and (max-width: 968px)
    html, body 
        font-size: responsive;
        min-font-size: 20px


@font-face
    font-family 'Caviar-Dreams'
    src url("../../public/fonts/CaviarDreams.ttf")
@font-face
    font-family 'Source-Sans'
    src url("../../public/fonts/SourceSansPro-Regular.otf")